<div class="record-header">
  <div class="left-header">
    <div class="header-title">
      2022/08/01血圧記録
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">記録を終了する</a>
    </div>
  </div>
</div>

<div class="records">
  <div class="record">
    <div class="upper-record">
      <div class="record-user">
        GM
      </div>
      <div class="record-date">
        2022/8/1(月) 08:00:00
      </div>
    </div>
    <div class="lower-record">
      <div class="record-content">
        最高 122 / 最低 76 (脈拍 76)
      </div>
    </div>
  </div>

  <div class="record">
    <div class="upper-record">
      <div class="record-user">
        GM
      </div>
      <div class="record-date">
        2022/8/1(月) 12:00:00
      </div>
    </div>
    <div class="lower-record">
      <div class="record-content">
        最高 99 / 最低 66 (脈拍 76)
      </div>
    </div>
  </div>
</div>

<div class="form">
</div>