<div class="side-bar-header">
  <div class="header-name">
    <a href="#">GM</a>
  </div>
  <div class="create-room">
    <a href="#">記録を作成する</a>
  </div>
</div>

<div class="rooms">
  <div class="room">
    <div class="room-name">
      <a href="#">2022/08/01</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">2022/08/02</a>
    </div>
  </div>
</div>